[Desktop Entry]
Encoding=UTF-8
Name=Tecax
Comment=Tecax P2P Cryptocurrency
Exec=tecax-qt %u
Terminal=false
Type=Application
Icon=tecax128
MimeType=x-scheme-handler/tecax;
Categories=Office;Finance;
Name[en_US]=tecax-qt.desktop
